@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body class="body2">
    <form action="/Products/AddToCart">
        <table class="table">
            <tr>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Student Phone</th>
                <th>Student Image</th>


            </tr>
            <tbody>
                @{
                    List<StudentModel> catlist = ViewData["student"] as List<StudentModel>;
                    foreach (StudentModel cat in catlist)
                    {

                        <tr>
                            <td>@cat.Name</td>
                            <td>@cat.Email</td>
                            <td>@cat.Phone</td>
                            <td>
                               <img src="~/Images/@cat.Image"  width="250" height="300" asp-append-version="true">
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </form>
</body>